<!DOCTYPE html>

{% load staticfiles %}
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SCity Project</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                {% if username %}
                    <li>{{ username }}</li>
                    <li><a href="{% url 'main:logout' %}">退出登录</a></li>
                {% else %}
                    <li><a href="{% url 'main:login' %}">登录</a></li>
                    <li><a href="{% url 'main:register' %}">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        {% if product %}
            <h1>Title: {{ product.name }}</h1>
            <p>Content:{{ product.desc }}</p>
            <p>Owner: {{ product.price }}</p>
            <p>Owner: {{ product.image }}</p>
            <p>Last modify time: {{ product.last_modify_time }}</p>
            <p>Create time: {{ product.create_time }}</p>
        {% else %}
            <h1>No message are available.</h1>
        {% endif %}
    </div>
</div>
</body>
</html>