<!DOCTYPE html>

{% load staticfiles %}
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SCity Project</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                {% if username %}
                    <li>{{ username }}</li>
                    <li><a href="{% url 'main:logout' %}">退出登录</a></li>
                {% else %}
                    <li><a href="{% url 'main:login' %}">登录</a></li>
                    <li><a href="{% url 'main:register' %}">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1>此页面显示所有产品信息</h1>
        <p>Some summary</p>
    </div>
</div>
<div class="container">
    <div class="starter-template">
        {% if latest_product_list %}
            <ul>
                {% for product in latest_product_list %}
                    <li>
                        <h1>{{ product.name }}</h1>
                        <p>{{ product.desc }}</p>
                        <p>{{ product.price }}</p>
                        <p>{{ product.image }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h1>No product are available.</h1>
        {% endif %}
    </div>
</div>
</body>
</html>