{% extends "main/base.html" %}

{% block staticfiles %}
    <link href="/static/main/css/login-register.css" rel="stylesheet">
{% endblock %}

{% block title %}登录{% endblock %}

{% block titlebar %}{% endblock %}
{% block content %}
    <div class="container">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="text-center text-primary">登录</h2>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% endif %}" role="alert"><strong>{{ message }}</strong></div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                {% if login_form.username.errors %}
                    {% for error in login_form.username.errors %}
                        <span class="label label-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}
                <p>{{ login_form.username }}</p>
                {% if login_form.password.errors %}
                    {% for error in login_form.password.errors %}
                        <span class="label label-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}
                <p>{{ login_form.password }}</p>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember_me">下次自动登录</input>
                </label>
                <label class="pull-right">
                    <a href="#">忘记密码</a>
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="ok">登录</button>
        </form>
    </div>
{% endblock %}
